<!DOCTYPE html>
<html lang="en">

<div th:replace="~{fragments/head(title='Home')}"></div>

<body>
    <div th:replace="~{fragments/jumbotron::jumbo}"></div>
    <div th:replace="~{fragments/navbar::navbar}"></div>
    
    <div th:replace="~{fragments/produto::produto-card}"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>

</html>